@model medics.Models.register

<section class="user-profile section">
    @using (Html.BeginForm("profile", "main", FormMethod.Post,new { enctype="Multipart/form-data" }))
    {
        <input type="hidden" value="@Session["userid"]" name="userid"/>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                    <div class="sidebar">
                        <!-- User Widget -->
                        <div class="widget user">
                            <!-- User Image -->
                            <div class="image d-flex justify-content-center">
                                @if (Session["img"] != null)
                                {
                                    <img src="@Url.Content("~/images/" + Model.user_img)" alt="" class="img-thumbnail">

                                }
                                else
                                {
                                    <img src="~/images/team/doctor-1.jpg" alt="" class="img-thumbnail">
                                }

                            </div>
                            <!-- User Name -->
                            <br />

                            <h5 class="text-center">@Model.fname @Model.lname </h5>
                        </div>
                        <!-- Dashboard Links -->
                        @*<div class="widget dashboard-links">
                                <ul>
                                    <li><a class="my-1 d-inline-block" href="">Savings Dashboard</a></li>
                                    <li><a class="my-1 d-inline-block" href="">Saved Offer <span>(5)</span></a></li>
                                    <li><a class="my-1 d-inline-block" href="">Favourite Stores <span>(3)</span></a></li>
                                    <li><a class="my-1 d-inline-block" href="">Recommended</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                    <!-- Edit Profile Welcome Text -->
                    <div class="widget welcome-message">

                    </div>
                    <!-- Edit Personal Info -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="widget personal-info">

                                <div>
                                    <!-- First Name -->
                                    <div class="form-group">
                                        <label for="first-name">First Name</label>
                                        <input type="text" class="form-control" value="@Model.fname" id="first-name" name="fname">
                                    </div>
                                    <!-- Last Name -->
                                    <div class="form-group">
                                        <label for="last-name">Last Name</label>
                                        <input type="text" class="form-control" value="@Model.lname" id="last-name" name="lname">
                                    </div>
                                    <!-- File chooser -->
                                    <div class="form-group choose-file d-inline-flex">
                                        <i class="fa fa-user text-center px-3"></i>
                                        @**   <input type="file" class="form-control-file mt-2 pt-1" id="input-file"  value="@Session["img"]" name="user_img">

                                        *@

                                        @Html.EditorFor(x => x.user_img, new { htmlAttributes = new { @class = "form-control-file mt-2 pt-1", @Type = "file" } })

                                    </div>
                                    <!-- Comunity Name -->
                                    <div class="form-group">
                                        <label for="comunity-name">Phone</label>
                                        <input type="number" class="form-control" id="comunity-name" value="@Model.contact" name="contact">
                                    </div>
                                    <!-- Checkbox -->
                                    @*<div class="form-check">
                                            <label class="form-check-label" for="hide-profile">
                                                <input class="form-check-input mt-1" type="checkbox" value="" id="hide-profile">
                                                Hide Profile from Public/Comunity
                                            </label>
                                        </div>*@
                                    <!-- Zip Code -->
                                    <div class="form-group">
                                        <label for="zip-code">Date of Birth</label>
                                  
                                        @Html.EditorFor(x=>x.dob, new { htmlAttributes = new { @class = "form-control" } })
                                       
                                    </div>
                                    <!-- Submit button -->
                                    @*<button class="btn btn-primary">Save My Changes</button>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- Change Password -->
                            <div class="widget change-password">


                                <div>
                                    <div class="form-group">
                                        <label for="new-password">Username</label>
                                        <input type="text" value="@Model.username" class="form-control" id="new-password" name="username">
                                    </div>
                                    <!-- Current Password -->
                                    <div class="form-group">
                                        <label for="current-password">Current Password</label>
                                        <input type="password" value="@Model.pass" class="form-control" id="current-password" name="pass">
                                    </div>
                                    <!-- New Password -->
                                    <!-- Confirm New Password -->
                                    @*<div class="form-group">
                                            <label for="confirm-password">Confirm New Password</label>
                                            <input type="password" class="form-control" id="confirm-password">
                                        </div>*@
                                    <!-- Submit Button -->
                                    @*<button class="btn btn-primary">Change Password</button>*@
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- Change Email Address -->
                            <div class="widget change-email mb-0">

                                <div>
                                    <!-- Current Password -->
                                    <div class="form-group">
                                        <label for="current-email">Current Email</label>
                                        <input type="email" value="@Model.email" class="form-control" id="current-email" name="email">
                                    </div>
                                    <!-- New email -->
                                    @*<div class="form-group">
                                            <label for="new-email">New email</label>
                                            <input type="email" class="form-control" id="new-email">
                                        </div>*@
                                    <!-- Submit Button -->
                                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    </section>