@model medics.Models.blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blogtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogdescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogdescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blogauthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blogauthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.category_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.category_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blogid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
