@model IEnumerable<medics.Models.blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr><th>
        Blog Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blogtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blogdescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blogdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blogauthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          <img src="@Url.Content("~/images/"+item.blogimg)" width="100" height="100" />
        </td>>
        <td>
            @Html.DisplayFor(modelItem => item.blogtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blogdescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blogdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blogauthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.blogid }) |
            @Html.ActionLink("Details", "Details", new { id=item.blogid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.blogid })
        </td>
    </tr>
}

</table>
